
/* ----------------------------------------- MENU ----------------------------------------- */

/*--------------------------------- NAVBAR --------------------------------- */
/*--------------------------------- HERO --------------------------------- */
/*--------------------------------- PRODUCTS --------------------------------- */
/*--------------------------------- FOOTER --------------------------------- */
/*--------------------------------- CART --------------------------------- */
/*--------------------------------- SEARCH --------------------------------- */
/*--------------------------------- MOBILE --------------------------------- */

.App {
  background: #fff;
}
ul {
  padding: 0;
}

li, a {
  text-decoration: none;
  list-style: none;
}
/* NAVBAR navbar */

.navBar {
  position: fixed;
  width: 100%;
  background-color: #00000025;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  color: #fffefe;
  z-index: 100;
  transition: .5s ease-in-out;
}
.navBar-sticky {
  background-color: #fff;
  color: #000;
  z-index: 100;
  box-shadow: 0 2px 5px #00000025;
}
.page-links, .card-links {
  display: flex;
  justify-content: space-between;
}

.page-links {
  width: 350px;
  font-size: 20px;
}
.card-links {
  width: 150px;
}
.card-links li {
  cursor: pointer;
}
.menu-sm{
  margin: auto 10px;
  display: none;
}



/* HERO hero */

.hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
}

.h-Info {
  position: absolute;
  top: 20%;
  margin: 0 80px;
  color: #000;
}

.h-desc {
  font-family: serif;
  font-size: 36px;
}
.h-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 56px;
}
.h-btn-shop,
.prod-btn-shop,
.f-btn-contact,
.prod-btn-more,
.c-btns {
  color: #fff;
  font-size: 16px;
  border: none;
  box-shadow: 1px 1px 10px #0000005b;
  background: #717fe0;
  border-radius: 30px;
  font-weight: bolder;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: .5s ease-in-out;
}

/* PRODUCTS products */
.categorie{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.cat {
  position: relative;
  background: transparent;
  margin: 40px 0;
  border: solid .2px #000;
  height: 250px;
  min-width: 350px;
  cursor: pointer;
  overflow: hidden;
}
.cat-title {
  font-size: 24px;
  font-weight: bold;
  margin: 60px 0 0 20px;
}
.cat-sub {
  font-size: 16px;
  margin: 10px 20px;
  color: #757373;
}
.cat-img {
  position: absolute;
  top: 10px;
  right: 5px;
  max-width: 250px;
}
.cat-title {
  transition: .5s ease-in-out;
}
.overlay {
  position: absolute;
  background: #26379986;
  height: 250px;
  width: 350px;
  top: 0;
  left: 0;
  z-index: 5;
  transform: translateX(-100%);
  transition: .5s ease-in-out;
}
.overlay p {
  position: absolute;
  bottom: 50px;
  left: 50px;
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}
.cat:hover .overlay {
  transform: translateX(0%);
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-flow: dense;
  max-width: 100%;
  margin: 1em auto;
  justify-items: center;
}

.product {
  position: relative;
  box-shadow: -1px 1px 10px #7c7b7ba8;
  height: 450px;
  width: 280px;
  margin: 20px auto;
  overflow: hidden;
  background: #fff;
}
.prod-img {
  height: 75%;
  width: 100%;
  object-fit: scale-down;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.prod-description {
  position: absolute;
  bottom: 0%;
  height: 25%;
  width: 100%;
  color: #181717;
  background: #fafafa;
}
.prod-desc {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5px;
  justify-content: space-between;
  font-size: 2px;
}
.prod-desc p {
  font-size: 20px;
}
.prod-icon, .prod-icon-color {
  position: absolute;
  top: 30%;
  right: 5px;
  transition: .5s ease-in;
}
.prod-icon {
  opacity: 1;
}
.prod-icon-color {
  opacity: 0;
}
.prod-like:hover .prod-icon {
  opacity: 0;
}
.prod-like:hover .prod-icon-color {
  opacity: 1;
}
.prod-price {
  margin: auto 5px;
  font-size: 20px;
}
.prod-btn-shop {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 100%);
  opacity: 0;
}
.product:hover .prod-btn-shop {
  opacity: 1;
  transform: translate(-50%, -50%);
}
.btn-shop:hover {
  background: #000113;
}
.prod-btn-more {
  position: relative;
  background: #cfcfcf;
  color: #000113;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 50px 0 10px 0;
  width: 200px;
}
.prod-btn-more:hover {
  background: #000113;
  color: #fafafa;
}
/* FOOTER footer */

footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #03000c;
  color: #f5f4f4;
  overflow: hidden;
}
.foo-help,
.foo-cat,
.foo-about {
  flex: 1;
  margin: 40px 20PX;
}
.foo-about {
  display: flex;
  flex-direction: column;
}
.f-btn-contact {
  width: 160px;
  margin: 30px 0;
}
.f-btn-contact:hover {
  background: #fff;
  color: #717fe0;
}
.f-text-input {
  margin: 0 10px;
  width: 250px;
  height: 40px;
  background: transparent;
  color: #fafafa;
  border: none;
  border-bottom: solid 2px #1d1d1d;
}
.social {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}
.f-categorie li {
  margin: 15px 0;
  overflow: hidden;
}
.f-categorie li a {
  color: #fafafa;
}

/* CART cart */

.cart {
  position: absolute;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  max-width: 100%;
  background: #fff;
  color: #000;
  transform: translateX(100%);
  transition: all .5s ease-in;
}

.c-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 40px;
}
.c-body {
  height: 50%;
  overflow-y: scroll;
}
.cart-entering {
  transform: translateX(100%);
}
.cart-entered {
  transform: translateX(0);
}
.c-products {
  margin: auto 50px;
}
.c-product {
  display: flex;
  align-items: center;
  justify-content: left;
}
.c-prod-img {
  border: solid 1px #000;
  background: #646464b7;
  height: 80px;
  width: 60px;
  margin-right:25px;
}

.c-footer {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}
.c-btns {
  background: #000314;
  margin: 5px;
}
.c-btns:hover {
  color: #000314;
  background: #fff;
}
/* SEARCH search */

.search {
  position: fixed;
  height: 100vh;
  width: 100%;
  color: #fff;
  z-index: 110;
  transform: translateY(-100%);
  opacity: 0;
  transition: all .5s ease-in;
}
.search-box {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70px;
  width: 60%;
  background: #fff;
  display: flex;
  overflow: hidden;
  border: solid 1px #000;
  box-shadow: 0 0 20px #00000086;
}
.s-toggle {
  background: #affff857;
  height: 100vh;
  width: 100%;
}
.search-box img {
  height: 100%;
  width: 15%;
}

.s-text {
  border: none;
  height: 100%;
  width: 100%;
  padding: 0 10px;
  font-size: 26px;
  width: 85%;
}
.s-entering {
  transform: translateY(-100%);
  opacity: 0;
}
.s-entered {
  transform: translateY(0%);
  opacity: 1;
}

/* MOBILE mobile */

.active {
  transform: translateX(0) !important;
}

@media screen and (max-width:850px) {
  .menu-sm {
    display: block;
    transition: all .5s ease-in;
    cursor: pointer;
  }

  .nav-links {
    position: absolute;
    top: 100%;
    left: 0;
    height: 100vh;
    width: 100%;
    background: #000;
    color: #fff;
    transform: translateX(-100%);
    transition: all .5s ease-in;
  }

  .page-links {
    margin: auto;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    overflow: hidden;
  }
}